{% extends 'base_html.html' %}
{% load static %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "img/about-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">We want to be the first zirt pirt</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        “Global Media Group”a daxil olan Oxu.Az xəbər saytı 2013-cü ilin iyul ayından fəaliyyət göstərir. Saytın yaradılmasında məqsəd dünyada və ölkədə baş verən ən vacib və maraqlı xəbərləri geniş auditoriyaya təqdim etməkdir.

Oxu.Az 24 saat ərzində, Azərbaycan və rus dillərində, ölkədə və dünyada baş verən ən aktual və maraqlı hadisələr barədə operativ xəbərlər, oxucuları və cəmiyyəti maraqlandıran suallara cavablar, analitik məqalələr, foto və videohesabatlar hazırlayır.

Düzgün seçilmiş informasiya siyasəti, müasir dizaynı, mobil platformalarda və aparıcı sosial şəbəkələrdə təmsil olunması nəticəsində bu gün Oxu.Az Azərbaycanın media məkanında öz layiqli yerini tutub və ən geniş oxucu auditoriyasına malik xəbər portallarından birinə çevrilib.
</div>
    </div>
  </div>

  <hr>

  {% endblock content %}