{% extends 'base_html.html' %}
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static " img/home-bg.jpg " %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>News Portal</h1>
            <span class="subheading">A News site by Ojagverdiyev Emil</span>
          </div>
        </div>
      </div>
    </div>
  </header>
 
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      
      <div class="col-lg-8 col-md-10 mx-auto ">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                {% for category in category %}
                <li class="nav-item">
                  <a class="nav-link " href="/category/{{category}}">{{category}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
        {% for post in news %}

        <div class="post-preview">
          <a href="{% url 'post' post.pk %}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            on {{ post.date }}</p>
        </div>
        <hr>
        

        {% endfor %}


        <!-- Pager -->

        
        <div class="clearfix">
          {% if is_paginated %}
            <!-- {% if page_obj.number == 1 %}
              <a class="btn btn-primary float-right" href="?page=2">Older Posts &rarr;</a>
            {% endif %} -->

            {% if page_obj.has_previous %}
              <a class="btn btn-primary " href="/">&lsaquo;&lsaquo;</a>
              <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">&lsaquo;Previous Page</a>
            {% endif %}
            <a class="btn btn-outline-info " href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            {% if page_obj.has_next %}
              <a class="btn btn-primary " href="?page={{ page_obj.next_page_number}}">Next Page&rsaquo;</a>
              <a class="btn btn-primary " href="?page={{ page_obj.paginator.num_pages }}">&rsaquo;&rsaquo;</a>
              
              
            {% endif %}



          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <hr>
  {% endblock content %}

  <!-- Footer -->
 